<div  class="caja-padre">
    <div class="contenedor">


   
     <h2>Hard & Soft skills</h2>
     <div class="skills"  *ngFor="let skills of skills"  >
         <div class="detalles"  >
           <span>{{skills.habilidad}}</span>
           <span>{{skills.nivel}}</span>
         </div> 
         
        <div class="menu">
          <div id="html-menu">


          </div>
        </div>

     </div> 


    
     <!--<div class="skills">
         <div class="detalles">
           <span>CSS</span>
           <span>60%</span>
         </div> 
         
        <div class="menu">
          <div id="css-menu">


          </div>
        </div>

     </div> 



     <div class="skills">
      <div class="detalles">
        <span>Javascript</span>
        <span>50%</span>
      </div> 
      
     <div class="menu">
       <div id="javascript-menu">


       </div>
     </div>

  </div> 



  <div class="skills">
    <div class="detalles">
      <span>Typescript</span>
      <span>30%</span>
    </div> 
    
   <div class="menu">
     <div id="typescript-menu">


     </div>
   </div>

</div> 


<div class="skills">
  <div class="detalles">
    <span>JAVA</span>
    <span>50%</span>
  </div> 
  
 <div class="menu">
   <div id="java-menu">


   </div>
 </div>

</div> 


<div class="skills">
  <div class="detalles">
    <span>Angular</span>
    <span>40%</span>
  </div> 
  
 <div class="menu">
   <div id="angular-menu">


   </div>
 </div>

</div> 



<div class="skills">
  <div class="detalles">
    <span>Spring Boot</span>
    <span>50%</span>
  </div> 
  
 <div class="menu">
   <div id="springboot-menu">


   </div>
 </div>

</div> 


<div class="skills">
  <div class="detalles">
    <span>MySQL</span>
    <span>30%</span>
  </div> 
  
 <div class="menu">
   <div id="mysql-menu">


   </div>
 </div>

</div> 



<div class="skills">
  <div class="detalles">
    <span>Capacidad analitica</span>
    <span>70%</span>
  </div> 
  
 <div class="menu">
   <div id="analitica-menu">


   </div>
 </div>

</div> 

<div class="skills">
  <div class="detalles">
    <span>Escucha activa</span>
    <span>80%</span>
  </div> 
  
 <div class="menu">
   <div id="escucha-menu">


   </div>
 </div>

</div> 

<div class="skills">
  <div class="detalles">
    <span>Resiliencia</span>
    <span>80%</span>
  </div> 
  
 <div class="menu">
   <div id="resiliencia-menu">


   </div>
 </div>

</div> 

<div class="skills">
  <div class="detalles">
    <span>Curiosidad y Motivación</span>
    <span>99%</span>
  </div> 
  
 <div class="menu">
   <div id="curiosidad-menu">


   </div>
 </div>

</div> 




    </div>


 </div> -->
