<div  class="caja-padre">
    <div class="contenedor">


   
     <h2>Hard & Soft skills</h2>
     <div class="skills">
         <div class="detalles">
           <span>HTML</span>
           <span>80%</span>
         </div> 
         
        <div class="menu">
          <div id="html-menu">


          </div>
        </div>

     </div> 


    
     <div class="skills">
         <div class="detalles">
           <span>Javascript</span>
           <span>75%</span>
         </div> 
         
        <div class="menu">
          <div id="javascript-menu">


          </div>
        </div>

     </div> 





    </div>


 </div>
