.caja-padre{
    width:100% ;
    margin: 4px 4px;      
    padding: 5px;
        
  }

  .contenedor{
    width: 99%;
    margin: 4px 4px;      
    padding: 5px;
    background: linear-gradient(450deg,darkblue, black);
    border: 2px solid rgba(0,0,0,0.06);
    border-radius: 12px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
  }

  .contenerdor *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(13, 168, 230);
    font-weight: 100;
    
  }

  h2 {
    margin-bottom: 80px;
    letter-spacing: 2px;
    text-align: left;
    font-size: 34px;
    font-weight: bold;
    color: white;
   }

   .skills:not(:last-child) {
    margin-bottom: 50px;
 
  }  
 
 
  .detalles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
 
  .menu{
    position: relative;
    border: 1px solid  rgb(30, 191, 219);
    border-radius: 20px;
    margin-bottom: 20px;
 
  }
 
   .menu div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: blue;
 
   }
 

   #html-menu{
    animation: dis-barra 2s forwards;
   }
 

   /*falta ver el tema de los porcentajes de la barra para cada habilidad */

   @keyframes dis-barra{
      100%{
          width: 60%;}
   }
 
   
   #css-menu{
    animation: dis-barra 2s forwards;
   }
 
   @keyframes dis-barra{
      100%{
          width: 60%;}
   }
 
 
 #javascript-menu{
    animation: diseño-barra 2s forwards;
   }
 
   @keyframes diseño-barra{
     100%{
       width: 50%;
     }
    }


    
   #typescript-menu{
    animation: d-barra 2s forwards;
   }
 
   @keyframes d-barra{
      100%{
          width: 30%;}
   }




   
   #java-menu{
    animation: diseño-barra 2s forwards;
   }
 
   @keyframes diseño-barra{
      100%{
          width: 50%;}
   }


   #angular-menu{
    animation: r-barra 2s forwards;
   }
 
   @keyframes r-barra{
      100%{
          width: 40%;}
   }

   
   #springboot-menu{
    animation: diseño-barra 2s forwards;
   }
 
   @keyframes diseño-barra{
      100%{
          width: 50%;}
   }

  
   #mysql-menu{
    animation: d-barra 2s forwards;
   }
 
   @keyframes d-barra{
      100%{
          width: 30%;}
   }


   #analitica-menu{
    animation: resol-barra 2s forwards;
   }
 
   @keyframes resol-barra{
      100%{
          width: 70%;}
   }


   #escucha-menu{
    animation: resolucion-barra 2s forwards;
   }
 
   @keyframes resolucion-barra{
      100%{
          width: 80%;}
   }

   #resiliencia-menu{
    animation: resolucion-barra 2s forwards;
   }
 
   @keyframes resolucion-barra{
      100%{
          width: 80%;}
   }

   #curiosidad-menu{
    animation: re-barra 2s forwards;
   }
 
   @keyframes re-barra{
    
   100%{
          width: 99%;}
   }
   



    span {color: rgb(156, 156, 253);}