<div  class="caja-padre">
    <div class="contenedor">


   
     <h2>Hard & Soft skills</h2>
     <div  class= "g-col-4"> 
      <div class="grid text-center d-md-flex justify-content-md-end" >

             
        <a
           class="btn btn-primary tooltips"
           data-placement="top"
           data-toogle="tooltip"
           data-original-title="Edit"
           id="abrirModalEditar3" (click)="openModal3()"
         ><i class="fa fa-pencil"></i>
        </a>

       
     
        <a
           class="btn btn-secondary tooltips"
           data-placement="top"
           data-toogle="tooltip"
           data-original-title="Delete"
         ><i class="fa fa-times"></i>
        </a>
     
     </div>

     
        
     <div  row align-items  class="skills"   *ngFor="let skills of skills"  >
         <div class="detalles"  >
           <span>{{skills.habilidad}}</span>
          <span>{{skills.nivel}}%</span>
         </div> 
         
            
        




        <div class="menu">
          <div id="menu" style="--nivel:{{skills.nivel}}% "> 


          </div>
        </div>


        <div id="ModalSkillsEditar" class="modal">
          <div class="contenido-modal">
             <span class="cerrar">&times;</span>
                
                      <div>
                        <form  action="#">
                          <div class="mb-4">
                            <label for="habilidad"  class="form-label">Habilidad</label>
                            <input type="habilidad" class="form-control"  name="habilidad" > 
                          </div>
  
                          <div class="mb-4">
                              <label for="nivel"  class="form-label">Nivel</label>
                              <input type="nivel" class="form-control"  name="nivel" > 
                            </div>


                            <div  class="d-grid"> 
                              <button type="submit" class="btn  btn-primary" (click)="updateSkills()">Agregar cambios</button>
                            </div>
  
                           
                         </form>


    
                         </div>
       </div>
    
    
    
    

     </div> 


    
    