<div  class="divclass  ">

    <h2>Experiencia</h2>

    <div  class= "g-col-4"> 


        <div class="grid text-center d-md-flex justify-content-md-end" >
           
           <a
              class="btn btn-primary tooltips"
              data-placement="top"
              data-toogle="tooltip"
              data-original-title="Edit"
              id="abrirModalEditar1" (click)="openModal1()"
            ><i class="fa fa-pencil"></i>
           </a>
  
          
        
           <a
              class="btn btn-secondary tooltips"
              data-placement="top"
              data-toogle="tooltip"
              data-original-title="Delete"
            ><i class="fa fa-times"></i>
           </a>
        
        
        </div>
        <div  row align-items  *ngFor="let experiencia of experiencias">

     <h4><i>{{experiencia.puesto}}</i>    </h4>
     <h5>{{experiencia.empresa}}-{{experiencia.tipoDeContrato}}</h5>
     <h4>{{experiencia.fin}}
        {{experiencia.localidad}}  </h4>
   

    </div>


    <div id="ModalExperienciaEditar" class="modal">
        <div class="contenido-modal">
           <span class="cerrar">&times;</span>
              
                    <div>
                      <form  action="#">
                        <div class="mb-4">
                          <label for="puesto"  class="form-label">Puesto</label>
                          <input type="puesto" class="form-control"  name="puesto" > 
                        </div>

                        <div class="mb-4">
                            <label for="tipoDeContrato"  class="form-label">Tipo de Contrato</label>
                            <input type="tipoDeContrato" class="form-control"  name="tipoDeContrato" > 
                          </div>

                          <div class="mb-4">
                            <label for="empresa"  class="form-label">Empresa</label>
                            <input type="empresa" class="form-control"  name="empresa" > 
                          </div>

                          <div class="mb-4">
                            <label for="inicio"  class="form-label">Inicio</label>
                            <input type="inicio" class="form-control"  name="inicio" > 
                          </div>

                          <div class="mb-4">
                            <label for="fin"  class="form-label">Fin</label>
                            <input type="fin" class="form-control"  name="fin" > 
                          </div>

                          <div class="mb-4">
                            <label for="localidad"  class="form-label">Localidad</label>
                            <input type="localidad" class="form-control"  name="localidad" > 
                          </div>
                                                       
  
                         
                        <div  class="d-grid"> 
                          <button type="submit" class="btn  btn-primary" (click)="updateExperiencia()">Agregar cambios</button>
                        </div>
  
                       </form>
  
                       </div>
     </div>
  
  
  
  
</div>
